<header>
  <nav class="navbar navbar-expand-md navbar-dark bg-success">
    <a class="navbar-brand" href="/urls">TinyApp</a>
    
    <% if(typeof (user) === "undefined"){ %>
      <a href="../login"><span style='padding: 5px 10px'>Log in</span></a>
      <a href="../register"><span style='padding: 5px 10px'>Register</span></a>
  <% } %>


    <% if(typeof (user) !== "undefined"){ %>
      <p style='margin-top: 1em;padding: 5px 10px'>Now logged in as: <%= user.email %>!</p>
      <form action="/logout" method="POST">
        <button name="logout" type="submit" class='btn btn-primary'>Logout</button>
      </form>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-item nav-link" href="/urls">My URLs</a>
          <a class="nav-item nav-link" href="/urls/new">Create New URL</a>
        </div>
      </div>
<% } else { %>
  <p style='margin-top: 1em;padding: 5px 10px'>Welcome</p>
  <% } %>
  </nav>
</header>


<!-- <form class="form-inline" action="/urls" method="POST"></form> -->